extend  ../components/header.pug

block append head
    title Pokemon

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li.is-active
                    a(href="", aria-current="page") Pokemon

        input.input(type="text", placeholder="Search for something!")
        .card.mt-6(onclick="location.href='/pokemon/blackwhite'")
            .card-content
                figure.container(style="display: flex; align-items: center;")
                    img.icon(src='/static/assets/pokemon/bw-icon.png', alt='Portainer Icon').mr-1
                    a.card-text(href='/pokemon/blackwhite') Pokemon Black and White
