extend  ../components/header.pug

block append head
    title Pokemon

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/pokemon") Pokemon
                li.is-active
                    a(href="", aria-current="page") Black and White


        form(action="/pokemon/search", method="get", id="search") 
            input.input(type="text" name="search" placeholder="Search for something!" onsubmit="document.forms['search'].submit()")
            input(type="submit" hidden)
            
        figure.container(style="display: flex; align-items: center;").mt-6
            img.icon(src='/static/assets/pokemon/bw-icon.png', alt='Portainer Icon').mr-1
            p.title.is-3 Pokemon Black and White

        .card.mt-6(onclick="location.href='/pokemon/blackwhite/pokedex'")
            .card-content
                figure.container(style="display: flex; align-items: center;")
                    img.icon(src='/static/assets/pokemon/pokedex.png', alt='Portainer Icon').mr-1
                    a.card-text(href='/pokemon/blackwhite') Pokedex