doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='/static/favicon.ico')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
  block scripts
  style.
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

  block navbar
    nav.navbar(role='navigation', aria-label='main navigation')
      .navbar-brand(href='/')
        a.navbar-item(href='/')
          img(src='/static/assets/pi.svg')
        a.navbar-item(href='/')  Look Mum No Wifi
  
  block content