doctype html

head
  block head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='/static/favicon.ico')
  link(rel='stylesheet', href='/static/styles/bulma.min.css')
  script(href='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  style.
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body
  nav.navbar(role='navigation', aria-label='main navigation')
    .navbar-brand(href='/')
      a.navbar-item(href='/')
        img(src='/static/assets/pi.svg')
      a.navbar-item(href='/')  Look Mum No Wifi

      if username
        img(src=`/static/assets/${username}.png`, alt='Pi Hole Icon', width="50px", height="50px", style="margin-left: auto")
 
  block body