extend components/header.pug

<<<<<<< Updated upstream
.container.is-max-desktop.p-6
  .card(onclick='pihole()')
    .card-content
      img.icon(src='/static/assets/pihole.svg', alt='Pi Hole Icon')
      a.card-text(href='/admin') Pi Hole
    footer.card-footer
      p.card-footer-item Password: O4LQXFll
  .card.mt-6(onclick='timesheet()')
    .card-content
      img.icon(src='/static/assets/clock.png', alt='Clock Icon')
      a.card-text(href='/timesheet') Timesheet
  .card.mt-6(onclick='animalcrossing()')
    .card-content
      img.icon(src='/static/assets/ac.png', alt='Animal Crossing Leaf')
      a.card-text(href='/ac') Animal Crossing
  .card.mt-6(onclick='pokemon()')
    .card-content
      img.icon(src='/static/assets/pokemon.png', alt='Pokeball Icon')
      a.card-text(href='/pokemon') Pokemon
=======
block append content
  .container.is-max-desktop.p-6
    .card(onclick="location.href='/admin';")
      .card-content.columns.is-vcentered
        img.icon.mr-1(src='/static/assets/pihole.svg', alt='Pi Hole Icon')
        a.card-text Pi Hole
      footer.card-footer
        p.card-footer-item Password: O4LQXFll
    .card.mt-6(onclick="location.href='/timesheet';")
      .card-content.columns.is-vcentered
        img.icon.mr-1(src='/static/assets/clock.png', alt='Clock Icon')
        a.card-text Timesheet
    .card.mt-6(onclick="location.href='/ac';")
      .card-content.columns.is-vcentered
        img.icon.mr-1(src='/static/assets/ac.png', alt='Animal Crossing Leaf')
        a.card-text(href='/ac') Animal Crossing
    .card.mt-6(onclick="location.href='/pokemon';")
      .card-content.columns.is-vcentered
        img.icon.mr-1(src='/static/assets/pokemon.png', alt='Pokeball Icon')
        a.card-text(href='/pokemon') Pokemon
>>>>>>> Stashed changes
