@import "../../node_modules/bulma/css/bulma.min.css";

.centerContent {
	text-align: center;
}

.loading {
	background-color: darkgray;
	color: darkgray;
}

@media screen and (min-width: 768px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: initial;
	}
}

@media screen and (max-width: 768px) {
	.mobile {
		display: initial;
	}
	.desktop {
		display: none;
	}
}

button.timesheetActionButton {
	min-width: 8rem;
}

td.timesheetWorkdayBreakdown {
	min-width: 4em;
}

.notification.success {
	background-color: #2b9801;
	color: white;
}

.notification.success {
	background-color: #2b9801;
	color: white;
}

.notification.error {
	background-color: #f03a3a;
	color: white;
}

.notification.info {
	background-color: #f2f22a;
	color: black;
}