extend  ../components/header.pug

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li.is-active
                    a(href="", aria-current="page") Energy

        .columns
            .column
                .title.is-3 Electric
                .card.mt-6(onclick="location.href='/energy/insert_electric'")
                    .card-content
                        figure.container(style="display: flex; align-items: center;")
                            a.card-text(href='/energy/insert_electric') Insert Electric Bill


            .column 
                .title.is-3 Gas