extend  ../components/header.pug
  
block append content
    
    .container.is-max-desktop.p-6
        .title.is-1 #{day}
        .title.is-2 #{endTime}
        .card
            form(action="/timesheet/enter", method="post", id="enterForm") 
                input(type="hidden", name="action", value=nextAction)
                .card-content(onclick="document.forms['enterForm'].submit();")
                    a.card-text #{nextAction}
        .card.mt-6
            .card-content(onclick="location.href='/timesheet/view';")
                a.card-text View Time
        .card.mt-6
            .card-content(onclick="location.href='/timesheet/edit';")
                a.card-text Edit Time