extend  ../components/header.pug
  
block append content
    .container.is-max-desktop.pl-6.pr-6
        .title.is-2 User selection 
        .columns
            div.card.column.m-6(onclick="document.forms['userForm'].submit();")
                form(action="/timesheet/select", method="post", id="userForm") 
                    input(type="hidden", name="action", value="harry")
                    figure.image
                        img(src="/static/assets/harry.png")
                    .card-footer
                        .card-footer-item.title.is-4 Harry
            div.card.column.m-6(onclick="document.forms['userForm'].submit();")
                form(action="/timesheet/select", method="post", id="userForm") 
                    input(type="hidden", name="action", value="joel")
                    figure.image
                        img(src="/static/assets/joel.png")
                    .card-footer
                        .card-footer-item.title.is-4 Joel