extend  ../components/header.pug

block append head
   title #{errorMessage}

block append body
    .container.is-max-desktop.pl-6.pr-6.has-text-centered
        .container.mt-6
            div.pt-6
            .container.mt-6
                h1.title.is-1 #{errorCode}
                p.title.is-5 #{errorMessage}

                .columns.pt-6
                    .column.is-third
                    .column.is-third
                        button.button.is-large.is-fullwidth(onclick='history.back()') Back
                    .column.is-third
                    